{% extends 'base.html.twig' %}

{% block body %}


        <h2>Войти</h2>
        <form action="{{ path('users_login') }}" method="post">
            <input  name="_username" type="text" required id="emailIn" placeholder="Адрес электронной почты">
            <input name="_password" type="password" id="passIn" required placeholder="Пароль">
            <input type="submit" value="Войти">
        </form>
        {% endblock %}